# .flake8
[flake8]
max-line-length = 100
exclude = .git,__pycache__,.venv,venv,build,dist

#extend-ignore = [
#    'E501',  # Ignore line length errors
#    'F401',  # Ignore unused imports
#    'F403',  # Ignore wildcard imports
#    'F405',  # Ignore undefined names in wildcard imports
#    'W503',  # Ignore line break before binary operator
#]