# Compiled outputs
bin/
*.out

# Virtualenv
.venv/
.cu121/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
logs/

# Ignore distribution and packaging files
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
cuda-keyring_*.deb

# google cloud
google-cloud-sdk/

data/
